#divbox1 {
    margin-left: 50px;
    margin-top: 25px;
    display: inline-block;
    background-color: #401e22 !important;
    color: #fff;
    /* box-shadow: 5px 10px 5px 10px#9aa5a2; */
    padding: 30px;
    font-size: 20px;
    border-radius: 5px;
}

#span1 {
    font-size: 30px;
}

#span1 p {
    margin: 10px 0px 0px 53px;
    font-size: 30px;
    color: #fff;
}

#button1 {
    margin: 10px 0px 0px 35px;
}

#divbox2 {
    margin-left: 20px;
    margin-top: 25px;
    display: inline-block;
    background-color: #808e8a !important;
    color: #fff;
    /* box-shadow: 5px 10px 5px 10px#9aa5a2; */
    padding: 30px;
    font-size: 20px;
    border-radius: 5px;
}

#span2 {
    font-size: 30px;
}

#span2 p {
    margin: 10px 0px 0px 45px;
    font-size: 30px;
    color: #fff;
}

#button2 {
    margin: 10px 0px 0px 30px;
}

#divbox3 {
    margin-left: 10px;
    margin-top: 25px;
    display: inline-block;
    background-color: #5a6c56 !important;
    color: #fff;
    /* box-shadow: 5px 10px 5px 10px#9aa5a2; */
    padding: 30px 50px 30px;
    font-size: 20px;
    border-radius: 5px;
}

#span3 {
    font-size: 30px;
}

#span3 p {
    margin: 10px 0px 0px 33px;
    font-size: 30px;
    color: #fff;
}

#button3 {
    margin: 10px 0px 0px 20px;
}

#divbox4 {
    margin-left: 10px;
    margin-top: 15px;
    display: inline-block;
    background-color: #857886 !important;
    /* box-shadow: 5px 10px 5px 10px#9aa5a2; */
    padding: 30px 50px 30px;
    font-size: 20px;
    border-radius: 5px;
}

#span4 {
    font-size: 20px;
}

#span4 p {
    margin: 10px 0px 0px 33px;
    font-size: 20px;
}

#button4 {
    margin: 10px 0px 0px 20px;
}

#divbox5 {
    margin: 0px 0px 0px 0px;
    display: inline-block;
    background-color: #352f36 !important;
    color: #fff;
    /* box-shadow: 5px 10px 5px 10px#9aa5a2;z */
    padding: 30px 50px 30px;
    font-size: 20px;
    border-radius: 5px;
}

#span5 {
    font-size: 20px;
}

#span5 p {
    margin: 10px 0px 0px 33px;
    font-size: 20px;
    color: #fff;
}

#button5 {
    margin: 10px 0px 0px 20px;
}


/* ============================================== */

#row1 {
    box-shadow: 5px 10px 5px 10px#9aa5a2;
    margin-bottom: -650px;
}

#BarChart {
    height: 500px;
    margin-top: -160px;
    margin-left: -100px;
    display: inline;
}

#PieChart {
    height: 500px;
    margin-top: -70px;
    display: inline;
}

#PieChart2 {
    height: 500px;
    margin-top: -400px;
    margin-left: 470px;
    display: inline;
}


/* ===============header css ============= */

h3 {
    color: #ffffff;
    font-family: "Roboto", Sans-serif;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 25px;
}

#header {
    width: 100%;
    background-color: #ac6969;
    height: 100px;
    margin-top: 65px;
    margin-left: -10px;
    z-index: 100;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin-bottom: -120px;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.44);
    animation: positionAnimation ease 2s;
    -moz-animation: positionAnimation ease 2s;
    /* Firefox */
    -webkit-animation: positionAnimation ease 2s;
    /* Safari and Chrome */
}


/* ========================================== */

#dashbordimg {
    height: 600px;
    width: 1200px;
}