        * {
            font-size: 15px;
        }
        
        .invoice-head td {
            padding: 0 8px;
        }
        
        .container {
            padding-top: 30px;
        }
        
        .invoice-body {
            background-color: transparent;
        }
        
        .invoice-thank {
            margin-top: 60px;
            padding: 5px;
        }
        
        address {
            margin-top: 15px;
        }
        
        #companylogo {
            margin: -20px 0px -100px 0px;
            padding: 15px;
            font-size: 16px;
            background-color: #143B0E;
            border-radius: 5px 5px 0px 0px;
            color: #fff;
        }
        
        #tutorshivetext {
            font-size: 30px;
        }
        
        #invoiceno {
            margin-left: 100px;
        }
        
        #invoicelogo {
            height: 100px;
            width: 200px;
            margin-left: 500px;
            margin-bottom: 10px;
            margin-top: -10px;
            display: inline-block;
        }
        
        #Billed {
            font-size: 25px;
            font-weight: 500;
            color: rgb(89, 104, 218);
        }
        
        #block {
            background-color: #d0d0dc;
            color: rgb(0, 0, 0);
            margin: 5px;
            padding: 10px 10px 10px 20px;
            border-radius: 10px;
        }
        /* bank ddetails css +++++++++++++ */
        
        #bankDetails {
            margin: -30px 100px 0px 50px;
            background-color: #143B0E;
            color: #fff;
            padding: 20px 10px 20px 120px;
            border-radius: 10px;
        }
        
        #bankheading {
            margin-left: 110px;
            font-size: 30px;
            margin-bottom: 10px;
            color: rgb(255, 255, 255);
        }
        
        #one {
            padding-right: 20px;
        }
        
        #two {
            padding-right: 62px;
        }
        
        #three {
            padding-right: 170px;
        }
        
        #four {
            padding-right: 88px;
        }
        
        #five {
            padding-right: 160px;
        }
        /* ==================================== */
        
        #tablehead {
            background-color: rgb(56, 55, 55);
            color: #fff;
        }