.table {
    margin-top: 20px;
    margin-right: 500px;
    font-size: 10px;
}

.Addbutton {
    margin-left: 500px;
    /* background-color: #0c0940; */
    border: 0px;
    /* color: #000;
    padding: 0px 10px 0px 10px;
     */
}

.kDEcCH {
    background-color: black;
}